@charset "UTF-8";
/* -------------------------------------------------------------------------------
  for horizontal-tb
 ------------------------------------------------------------------------------ */
html {
  -epub-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
  writing-mode:horizontal-tb;
}
/* -----------------------------------------------------------------------------
  [Type Selector]
 ---------------------------------------------------------------------------- */
body {
  line-height: 1.6;
  font-family: serif;
}
/* headings */
h1,h2,h3,h4,h5,h6 {
  font-family: sans-serif;
}
/* -----------------------------------------------------------------------------
  [Class Selector]
 ---------------------------------------------------------------------------- */
/* body */
body.titlepage {
}
body.tocpage {
}
body.chapter_page {
}
body.body_text {
}
body.sectional_ttl {
}
body.colophonpage {
}
body.body_left {
  text-align:left;
}
body.pbr {
  text-align:center;
  font-size:90%;
}
/* headings */
h1.ttl {
  font-family: serif;
}
h1.tobira {
  font-family: sans-serif;
  text-align:center;
}
h1.chapter {
  font-family: sans-serif;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h2.subchapter {
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-indent:-1em;
}
h1.tocttl {
  letter-spacing: 1em;
  padding-left:2em;
  padding-bottom:0.5em;
}
h1.tocttl-en {
  padding-left:2em;
  padding-bottom:0.5em;
}
h3.sectionttl {
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h4.subsection {
  padding-left:2.5em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h5.topic {
  padding-left:3em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h1.smplchapt {
  font-family: serif;
}
/* image */
img.block {
  max-height:50%;
}
img.block75 {
  display:block;
  max-height:75% !important;
  width: auto;
  padding-top:1em;
  margin:auto;
}
img.block60 {
  display:block;
  max-height:60% !important;
  width: auto;
  padding-top:1em;
  margin:auto;
}
img.inline {
  max-height:50%;
}
img.block-center {
  display:block;
  max-width:100%;
  max-height:50% !important;
  margin:auto;
}
img.block8 {
  display:block;
  width:8em;
  margin:auto;
  margin-top:0.5em;
}
img.prdbyrmcr {
/* Powerd by Romancer */
  display:inline;
  width:auto;
  height:auto;
  max-width:30%; 
}
/* text decoration */
.underline {
  text-decoration:underline;
  -webkit-text-underline-position:under left;
  text-underline-position: under left;
}
.gothic {
  font-family: sans-serif !important;
}
.mincho {
  font-family: serif !important;
}
.character {
  font-family: sans-serif !important;
  font-size:90%;
}
.photocap {
  padding-top:1em;
}
.col_start_1em {
  padding-left:1em;
}
.col_start_5em {
  padding-left:5em;
}
.col_latin {
  font-family:"Times New Roman",serif;
}
/* indent */
.asterisk_start {
  text-align: center;
}


.level1 {
  padding-left:0;
}
.level2 {
  padding-left:1em;
}
.level3 {
  padding-left:2em;
}
.toclevel1 {
  padding-left:0;
  padding-top:0.8em;
}
.toclevel1only {
  padding-left:0;
}
.toclevel2 {
  padding-left:1em;
}
.toclevel3 {
  padding-left:2em;
}
.toclevel4 {
  padding-left:3em;
}
.toclevel5 {
  padding-left:4em;
}
.toclt2 {
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  font-size:90%;
}
.toclt3 {
  padding-left: 2.5em;
  padding-bottom: 0.5em;
  font-size:90%;
}
.toclt4 {
  padding-left: 3em;
  padding-bottom: 0.5em;
  font-size:90%;
}
.toclt5 {
  padding-left: 3.5em;
  padding-bottom: 0.5em;
  font-size:90%;
}
.gaiji {
  vertical-align: text-bottom;
}
.footnote {
  padding-left:3em;
  text-indent:-2em;
  font-size:90%;
  padding-top:0.5em;
  padding-bottom:1em;
}
div.chapt {
  margin-top:2em;
}
p.narrow {
    line-height: 1;
}
.mystyle_Intense0x20Emphasis {
  color:#0f4761;
}
.mystyle_Intense0x20Quote {
  border-bottom:1px solid #0f4761;
  border-top:1px solid #0f4761;
  color:#0f4761;
  margin-bottom:2.88em;
  margin-top:2.88em;
  padding-bottom:0.9em;
  padding-top:0.9em;
  padding-right:4.3em;
  padding-left:4.3em;
  text-align:center;
}
.mystyle_Intense0x20Reference {
  color:#0f4761;
  font-weight:bold;
}
.mystyle_Quote {
  color:#404040;
  margin-bottom:1.28em;
  margin-top:1.28em;
  text-align:center;
}
.mystyle_Subtitle {
  color:#595959;
  font-family:sans-serif !important;
  font-size:120%;
  margin-bottom:1.28em;
  text-align:center;
}
.mystyle_Title {
  font-family:sans-serif !important;
  font-size:150%;
  margin-bottom:0.64em;
  text-align:center;
}
.mystyle_character-10 {
  color:#000000;
  font-family:sans-serif !important;
  font-size:150%;
}
.mystyle_character-20 {
  color:#000000;
  font-family:sans-serif !important;
  font-size:120%;
}
.mystyle_character-23 {
  color:#0f4761;
}
.mystyle_character-30 {
  color:#000000;
  font-family:sans-serif !important;
  font-size:110%;
}
.mystyle_character-40 {
  color:#000000;
  font-family:sans-serif !important;
}
.mystyle_character-50 {
  color:#000000;
  font-family:sans-serif !important;
}
.mystyle_character-60 {
  color:#000000;
  font-family:sans-serif !important;
}
.mystyle_character-70 {
  color:#000000;
  font-family:sans-serif !important;
}
.mystyle_character-80 {
  color:#000000;
  font-family:sans-serif !important;
}
.mystyle_character-90 {
  color:#000000;
  font-family:sans-serif !important;
}
.mystyle_character-a4 {
  font-family:sans-serif !important;
  font-size:150%;
}
.mystyle_character-a6 {
  color:#595959;
  font-family:sans-serif !important;
  font-size:120%;
}
.mystyle_character-a8 {
  color:#404040;
}
.mystyle_d_para_list {
  padding-left:1em;
  text-indent:-1em;
}
.mystyle_heading {
  }
.mystyle_heading-1 {
  color:#000000;
  font-family:sans-serif !important;
  font-size:150%;
  margin-bottom:0.64em;
  margin-top:2.24em;
}
.mystyle_heading-2 {
  color:#000000;
  font-family:sans-serif !important;
  font-size:120%;
  margin-bottom:0.64em;
  margin-top:1.28em;
}
.mystyle_heading-3 {
  color:#000000;
  font-family:sans-serif !important;
  font-size:110%;
  margin-bottom:0.64em;
  margin-top:1.28em;
}
.mystyle_heading-4 {
  color:#000000;
  font-family:sans-serif !important;
  margin-bottom:0.32em;
  margin-top:0.64em;
}
.mystyle_heading-5 {
  color:#000000;
  font-family:sans-serif !important;
  margin-bottom:0.32em;
  margin-top:0.64em;
}
.mystyle_heading-6 {
  color:#000000;
  font-family:sans-serif !important;
  margin-bottom:0.32em;
  margin-top:0.64em;
}
.mystyle_heading0x207 {
  color:#000000;
  font-family:sans-serif !important;
  margin-bottom:0.32em;
  margin-top:0.64em;
}
.mystyle_heading0x208 {
  color:#000000;
  font-family:sans-serif !important;
  margin-bottom:0.32em;
  margin-top:0.64em;
}
.mystyle_heading0x209 {
  color:#000000;
  font-family:sans-serif !important;
  margin-bottom:0.32em;
  margin-top:0.64em;
}
.mystyle_list-para {
  padding-left:3.6em;
}

